/**
 *
 * CSS reset. Support for selected HTML5 tags.
 *
 **/

body, p, div, h1, h2, h3, h4, h5, h6, input, textarea, img, blockquote, dl, dt, dd, fieldset, legend, ol, ul, li, pre, code, figure {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

header, footer, section, article, nav, aside {
    display: block;
}

address, cite, q, dfn {
  font-style: normal;
}

a, ins, del {
  text-decoration: none
}

q, blockquote {
    quotes: none;
}

q:after, q:before,
blockquote:after, blockquote:before {
    content: "";
    content: none;
}

q {
    font-style: italic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 *
 * Global
 *
 **/
 
body {
    background: #f5f5f5 url("../img/bgr.png");
    color: #333;
    font-family: "Proxima Nova Regular", 'Helvetica Neue', "Arial", sans-serif;
    font-size-adjust: 0.488;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .tip-counter {
    font-family: "Museo 900", "Verdana", serif;
    font-size-adjust: 0.52;
    font-weight: 900;
    font-style: normal;
}

a {
    color: #41b7d8;
}

a:hover {
    color: #41b7d8;
    text-decoration: underline;
}

a:visited {
    color: #3aa0bd;
}

/**
 *
 * Layout
 *
 **/

.wrap, 
.content,
.page-header,
.columns > .column {
    /* ignore padding and border width in % calc */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.columns::after {
    content: "";
    display: block;
    clear: both;
}

.columns > .column {
    float: left;
}

.content {
    /* make room for the sidebar */
    margin-right: 250px;                  
    /* rgba() fallback */
    background: #fdfdfd;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #d0d0d0;
    /* proper rgba() values */
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(0, 0, 0, 0.15);
}

.page-header {
    /* expand header to 100% width */
    margin-right: -250px;
    padding: 45px 250px 60px 30px;
}

.content .column.first {
    width: 100%;
    padding-bottom: 30px;
}

.content .column.last {
    /* move sidebar out of the visual container */
    width: 250px;
    float: right;
    margin-right: -250px;
    padding-left: 20px;
    padding-right: 10px;
}

/**
 *
 * Page header
 *
 **/

.page-header h2 {
    font-size: 24px;
    margin: 0 80px 20px 0;
}

.page-header h2 a {
    color: #000;
}

.page-header .about {
    font-style: italic;
    font-size: 15px;
    line-height: 25px;
    color: #666;
    margin-right: 80px;
}

/**
 *
 * Articles
 *
 **/

.article-list article {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px 1px #d5d5d5;
    padding: 29px 19px;
    color: #2b2d30;
    position: relative;
    margin: 0 80px 20px 10px;
}

.article-list article:target {
    border-color: #41b7d8;
}

.article-list article header {
    /* tabular layout to avoid brute positioning */
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.article-list article h1,
.article-list article .author {
    display: table-cell;
}

.article-list article h1 {
    /* force title to take max space
       table renderer will still leave space for author */
    width: 100%;
    padding-right: 8px;
}

.article-list article .author a {
    font-size: 14px;
    color: #717171;
    font-style: italic;
}

.article-list article .tip-counter {
    position: absolute;
    /* don't provide top and shift a bit with margin to align with heading */
    margin-top: 3px;
    /* take 100% of gutter without setting width */
    left: 100%;
    right: -81px;
    margin-left: 1px;
    text-align: center;
    color: #ccc;
    font-size: 18px;
}

.article-list article p {
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 0.1px;
}

.article-list article h1 a {
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 30px;
    color: #262625;
}

.article-list article pre {
    background: #FAF8DE;
    border: 1px solid #D9D9D7;
    padding: 10px;
    margin: 20px 30px;
    overflow: auto;
}

.article-list article code {
    font-family: "Monaco", "Courier New", sans-serif;
    color: #1f1f1f;
    font-size: 13px;
    font-weight: normal;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  	color: #778899;
}

.token.punctuation {
  	color: #999;
}

.namespace {
  	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  	color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
  	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  	color: #a67f59;
  	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  	color: #07a;
}


.token.regex,
.token.important {
  	color: #e90;
}

.token.important {
  	font-weight: bold;
}

.token.entity {
  	cursor: help;
}

/**
 *
 * Sidebar
 *
 **/

.sidebar ul {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar ul li:first-child {
    padding-top: 0;
}
.sidebar ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}

.sidebar ul li a {
    font-size: 14px;
}

.sidebar h3 {
    margin-bottom: 18px;
    font-size: 18px;
}

.sidebar .twitter-recommendations {
    margin-right: -10px;
}

.sidebar .twitter-recommendations li {
    display: inline;
    border: none;
}

.sidebar .twitter-recommendations li a {
    border-bottom-width: 0;
}

.sidebar .twitter-recommendations li img {
    width: 34px;
    height: 34px;
    border-radius: 3px;
}

/**
 *
 * Responsive Web Design
 *
 **/
 
@media screen and (min-width: 1100px) {
    /* add right padding to shift layout to the left on large screens */
    .wrap {
        max-width: 1100px;        
        padding-right: 138px;
    }
}

@media screen and (max-width: 768px) {
    /* Yeah, iPad. */
    .content {
        background-color: transparent;   
        border-color: transparent;
    }
    .content > .column.first {
        background-color: rgba(255, 255, 255, 0.5);
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.15);
    }
    .content > .column.first,
    .content > .column.last {
        padding-top: 10px;
    }
    .page-header {
        padding-top: 20px;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .page-header .about {
        font-size: 13px;
        line-height: 20px;
    }
    .article-list article {
        margin-right: 10px;
    }
    .article-list .tip-counter {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .content,
    .page-header {
        margin-right: 0;  
    }
    .content > .column.first,
    .content > .column.last {
        float: none;
        width: auto;   
    }
    .content > .column.first {
        border-right-width: 0;
    }
    .content > .column.last {
        margin-right: 20px;
        padding: 0;
    }
    .sidebar > div {
        vertical-align: top;
        width: 50%;
        padding: 20px 0 0 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
    }
    .sidebar .twitter-recommendations {
        margin-right: 0;
    }
}

@media screen and (max-width: 640px) {
    .page-header h1,
    .page-header .about {
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px) {
    .content > .column.last {
       padding-top: 20px;  
    }
    .sidebar > div {
       display: block;
       width: auto;
       padding: 0 20px;   
    }
}