<article id="tip-{{tip_counter}}">
    <header>
        <h1>{{title}}</h1>
        <span class="author"><a href="{{author_url}}">{{author}}</a></span>
        <a class="tip-counter" href="{{url}}">#{{tip_counter}}</a>
    </header>
    {{content}}
	{{fb}}
</article>